.c-btn-float
    position: absolute
    top: 0
    right 0
    cursor: pointer
    span
        font-weight: 600
        color: #ffffff
        padding: 1rem
        background: #24ACF2
        transition: transform 0.3s linear
        display: block
    &:hover span 
        transform: rotate(-10deg) scale(1.1)