// .c-container-cards

    // &__item
    //     &:hover
    //         transform:rotateZ(-10deg)
    //         transition: transform 0.3s linear;
       
    // &:hover
    //     background-color: blue
    //     transition: background-color 0.3s linear