.c-filter
    display: flex
    justify-content: center
    padding: 1rem 0
    &__btn
        background: #226DEC
        border: none
        color: #fff
        display: block
        margin-left: 2rem
        padding: 0.6rem 1rem
        text-align: center
        width: 250px
    &__btn:nth-child(1)
        margin-left: 0

    &__btn.is--title
        background: none
        color: #000
        color: oran
        font-size: 1rem
        font-weight: 600
        text-transform: uppercase;
        width: 130px