.o-background-image
    background-image: url('https://comproentacna.com/defaults/background_pattern.png');
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;


    