.u-border-radius-top-left-0 {
  border-top-left-radius: 0 !important;
}
.u-border-radius-top-left-0 {
  border-top-right-radius: 0 !important;
}

.u-border-radius-bottom-left-0 {
  border-bottom-left-radius: 0 !important;
}
.u-border-radius-bottom-right-0 {
  border-bottom-right-radius: 0 !important;
}

.u-border-radius-bottom-0 {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.u-border-radius-top-0 {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.u-border-radius-left-0 {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
.u-border-radius-rigth-0 {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.u-border-radius-0 {
  border-radius: 0 !important;
}
