.u-font-size--0-25rem {
  font-size: 0.25rem
}

.u-font-size--0-5rem {
  font-size: 0.5rem
}

.u-font-size--0-75rem {
  font-size: 0.75rem
}

.u-font-size--1rem {
  font-size: 1rem
}

.u-font-size--2rem {
  font-size: 2rem
}
