/*------------------------------------*\
  #Settings (Variables)
\*------------------------------------*/

  // @import '1-settings/main.styl'
  @import '1-settings/_variables.styl'
      
  @import '1-settings/_colors.styl'
  @import '1-settings/_media-queries.styl'
  @import '1-settings/_spaces.styl'
  @import '1-settings/_typography.styl'





/*------------------------------------*\
  #Tools (Functions, mixins etc)
\*------------------------------------*/

  // @import '2-tools/functions/main.styl'
  // @import '2-tools/mixins/main.styl'
  // @import '2-tools/placeholders/main.styl'





/*------------------------------------*\
  #Generic
\*------------------------------------*/

  // @import "3-generic/main.styl";
  @import "normalize.css/normalize.css";




/*------------------------------------*\
  #Elements
\*------------------------------------*/

  @import "4-elements/_a.styl"
  @import "4-elements/_body.styl"
  @import "4-elements/_box.styl"
  @import "4-elements/_button.styl"
  @import "4-elements/_figure.styl"
  @import "4-elements/_i.styl"
  @import "4-elements/_ul.styl"




/*------------------------------------*\
  #Objects
\*------------------------------------*/

  @import "5-objects/_background-image.styl"
  @import "5-objects/_config-dialog.styl"
  @import "5-objects/_container.styl"
  @import "5-objects/_grilla.styl"
  @import "5-objects/_logo.styl"
  @import "5-objects/_modal-full-screen.styl"




/*------------------------------------*\
  #Components
\*------------------------------------*/

  // @import "6-components/_btn"
  // @import "6-components/_footer"
  // @import "6-components/_modal"

  @import "6-components/_btn-float"
  @import "6-components/_container-cards"
  @import "6-components/_title-page"
  @import "6-components/_card"
  @import "6-components/_filter"
  @import "6-components/_show-data"





/*------------------------------------*\
  #Utilities
\*------------------------------------*/

  @import '7-utilities/_100.styl'
  @import '7-utilities/_backgrounds.styl'
  @import '7-utilities/_between.styl'
  @import '7-utilities/_border-radius.styl'
  @import '7-utilities/_colors.styl'
  @import '7-utilities/_flex.styl'
  @import '7-utilities/_font-size.styl'
  @import '7-utilities/_line.styl'
  @import '7-utilities/_margin.styl'
  @import '7-utilities/_overflow.styl'
  @import '7-utilities/_padding-top-bottom.styl'
  @import '7-utilities/_position.styl'
  @import '7-utilities/_scroll-light.styl'
  @import '7-utilities/_text.styl'
  @import '7-utilities/_vertical-center.styl'

  // icomoon config
  // @import "~fonts/icons/style.scss";
  // transfonter.org config
  // @import "~fonts/base/stylesheet.css";
